.wrapper {
    text-align: center;
    margin-top: 200px;
    display: flex;
    justify-content: center;
}
.form {
    display: flex;
    flex-direction: column;
    width: 600px;
}
.inputField {
    margin-top: 20px !important;
    width: 100%;
}
.button {
    width: 45%;
    background-color: black !important;
    color: white !important;
    margin-top: 20px !important;
}
.title {
    font-size: 24px;
    font-weight: bold;
}
.errorMessage {
    padding-top: 10px;
    color: red;
}